nav{ 
    display:flex;
    align-items:center;
    justify-content: space-between;
    height: 4rem;
    padding: 0 2rem;
}

.nav-items{
    display: flex;
    gap: 2rem;
}

li::before{
    content: attr(data-number);
    color: #64ffda;
    margin-right: 0.2rem;
}

a:hover{
    color:#64ffda;
}

.loader-container{
    position: fixed;
    width: 100%;
    z-index: 100;
    color: red;
}
