@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

::root{
    --maincolor:#64ffda;
    --textcolormain: #c6d1f1;
    --textcolorsec: #919cba;
    --Itembgcolor:#112240;
    --bgcolorsec: #09182e;
    --bgboldcolorsec: #040c18;
}

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color:#c6d1f1;
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
    list-style: none;
}

body{
    background-color: #0a192f;
    min-height: 100vh;
}